html, body {
     padding: 0;
     margin: 0;
}

body {
     position: relative;
     min-height: 100vh;
}

section {
     padding: 2rem 0;
}
@media only screen and (max-width: 768px) {
     section {
          padding: 1rem 0;
     }
}

ul {
     padding: 0;
     margin: 0;
}

img {
     max-width: 100%;
}

nav {
     position: relative;
     z-index: 1000;
     background-color: rgb(2, 9, 66);
     background-image: linear-gradient(to right, rgb(2, 9, 66), rgb(0, 47, 255));
}

nav h3 {
     margin: 0;

}

@media only screen and (max-width: 768px) {
     nav #nav-flex {
          flex-direction: column;
     }

     nav .menu-site-name {
          text-align: center;
     }

     #desktop-site-name {
          display: none;
     }

     nav ul.nav-links {
          justify-content: center;
          flex-wrap: wrap;
     }
}
@media only screen and (max-width: 375px){
     nav ul.nav-links {
          padding: .5rem 0;
     }
}

@media only screen and (min-width: 769px) {
     #mobile-site-name {
          display: none;
     }
}

nav ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
}

nav .nav-link {
     color: #fff;
}

nav ul li {
     position: relative;
}
@media only screen and (max-width: 375px){
     nav ul li {
          padding: .5rem 0;
     }
}

/* Top and Bottom borders go out */ 
nav ul li a:before {
     position: absolute;
     left: 0px;
     width: 100%;
     height: 2px;
     background: #eedada;
     content: "";
     opacity: 0;
     transition: all 0.3s;
}

nav ul li a:before {
     top: -2px;
     transform: translateY(10px);
}

nav ul li a:hover:before {
     opacity: 1;
     transform: translateY(0px);
} 

nav ul li a:after {
     position: absolute;
     left: 0px;
     width: 100%;
     height: 1px;
     background: #eedada;
     content: "";
     opacity: 0;
     transition: all 0.3s;
}

nav ul li a:after {
     bottom: -2px;
     transform: translateY(-10px);
}

nav ul li a:hover:after {
     opacity: 1;
     transform: translateY(0px);
}


.jumbotron {
     min-height: 100vh;
     background-color: #fff;
     /* background-image: linear-gradient(to bottom, rgba(240, 240, 250, 0.8), rgba(35, 20 , 87, 0.1)); */ 
}

.jumbotron .container {
     padding-top: 8rem;
}

@media only screen and (max-width: 500px) {
     .jumbotron h1.jumbotron-heading {
          display: none;
     }

     .jumbotron .container {
          padding-top: 2rem;
     }

     .jumbotron {
          min-height: 100%;
     }
}
/* Animations added */
.jumbotron p.lead {
     position: relative;
     animation: 3s alternate slideFromLeft;
}

.jumbotron p.jumbo-btns {
     position: relative;
     animation: 3s alternate slideFromRight;
}

.jumbotron ul.jumbotron-social-icons {
     list-style-type: none;
     max-width: 600px;
     font-size: 1.5rem;
}

.jumbotron-social-icons a:hover {
     color: rgb(0, 47, 255);
     transition: all 300ms ease-in;
}

.down-icon {
     width: 100%;
     text-align: center;
}
@media only screen and (max-width: 768px) {
     .down-icon {
          position: static;
          padding: 1rem;
     }
}

.down-icon a i {
     font-size: 3rem;
}

.down-icon a i:hover {
     font-size: 3.2rem;
     text-shadow: 1px 2px 3px rgba(2, 9, 66, .6);
     transition: all 300ms ease-in;
}


/* Projects Section */
section.projects,
section.about-me {
     padding: 10rem 0;
}

@media only screen and (min-width: 768px) {
     .projects .custom-col-4 {
          flex: 0 0 28%;
          max-width: 28%;
          margin: 0 2%;
     }
}

@media only screen and (max-width: 1200px) {
     .projects .custom-col-4 {
          flex: 1 0 40%;
          max-width: 40%;
          margin: 1rem 2%;
     }
}

@media only screen and (max-width: 768px) {
     .projects .custom-col-4 {
          max-width: 70%;
          margin: 1rem auto;
     }
}

.projects h3.project-name {
     position: absolute;
     bottom: 0;
     text-align: center;
     width: 100%;
     background-color: rgba(247, 239, 239, 0.5);
     margin: 0;
     padding: .3rem 0;
}

/* About Me Section */
.avatar-wrap {
     max-width: 200px;
     box-sizing: border-box !important;
}   

.avatar-wrap img {
     max-width: 100%;
}

@media only screen and (max-width: 768px) {
     .avatar-wrap {
          text-align: center;
     }
     .about-me-desc {
          padding: 0 1rem;
     }
}

/* Contact Page */
section.contact {
     min-height: 60vh;
}



/* Admin Section */
.admin-login {
     width: auto;
     max-width: 400px;
}

.admin-login .admin-dash-icon {
     flex: 1 1 50%;
}
.admin-login .admin-dash-info {
     flex: 1 1 40%;
}
@media only screen and (max-width: 576px) {
     .dashboard-cards {
          max-width: 75%;
          margin: 0 auto;
     }
}

/* Footer */
footer {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     background-image: linear-gradient(to right, rgb(2, 9, 66), rgb(0, 47, 255));
}


/** Global Styles **/
h1.page-title {
     margin: 3rem 0 !important;
     font-size: 2.3rem;
}

@media only screen and (max-width: 600px) {
     h1.page-title {
          font-size: 2rem;
          margin: 1rem 0 !important;
     }
}


.bg-custom-dark { 
     background-color: rgb(2, 9, 66);
}
.bg-custom-light { 
     background-color: rgb(0, 47, 255);
}

.text-custom-dark { 
     color: rgb(2, 9, 66);
}
.text-custom-light { 
     color: rgb(0, 47, 255);
}

.btn-primary {
     background-color: rgb(2, 9, 66);
     background-image: linear-gradient(to top left, rgb(2, 9, 66), rgb(0, 47, 255));
}

.btn-primary:hover {
     background-color: rgba(2, 9, 66, .9);
     background-image: none;
     transition: all .2s ease-in-out;
     box-shadow: 1px 2px 5px #ccc;
}

.btn-danger {
     background-color: rgb(255, 0, 0);
     background-image: linear-gradient(to top left, rgba(211, 5, 5, 0.6), rgba(255, 0, 0, .8));
     transition: all 0.9s ease-in-out;  
     opacity: .9;
}.btn-danger:hover {  
     opacity: 1;
}


.btn-custom {
     min-width: 150px;
     margin: 0 .7rem;
     background-color: #fff;
     color: #fff;
     background-image: linear-gradient(to top right,rgba(0, 47, 255, 1), rgb(0, 47, 255), rgb(0, 47, 255), rgba(0, 47, 255, .8));
     transition: all 70ms ease-in-out;
}


.btn-custom:hover {
     background-color: rgba(0, 47, 255, .7);
     color: #fff;
     background-image: none;
     transition: all .4s ease-in-out;
     box-shadow: none !important;
     border:none;  
}

#welcome-name {
     position: relative;
     font-family: "kalam", Arial, Helvetica, sans-serif;
     font-weight: bolder;
     font-size: 3rem;
     animation: 2s alternate siteTitle;
}

.articles table .col-md-2 {
     width: auto;
}

@keyframes siteTitle {
     0% {
          top: -200px;
          opacity: 0;
     }
     50% {
          top: -100px;
          opacity: .1;
     }
     100% {
          top: 0;
          opacity: 1;
     }
   }

@keyframes slideFromLeft {
     0% {left: -200px;}
     100% {left: 0px;}
   }

   @keyframes slideFromRight {
     0% {left: 200px;}
     100% {left: 0px;}
   }